@import url("https://fonts.googleapis.com/css?family=Oswald:regular,500,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular&display=swap&subset=cyrillic-ext");
.reclame-section__row, .project-section__content, .page-section__desc, .page-section__advertisement, .page-section__column, .menu__list, .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Oswald";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Oswald";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  height: 100%;
  background: #fff;
  color: #000;
}

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._inner {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0px 10px;
  height: 100%;
}

.img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-card {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.header__icon {
  width: 60px;
  height: 60px;
}

.burger-menu {
  position: relative;
}

.icon-menu {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background: #F7654A;
  cursor: pointer;
  z-index: 5;
}
.icon-menu span {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  top: calc(50% - 2px);
  position: absolute;
  left: calc(50% - 10.5px);
  width: 21px;
  height: 4px;
  background-color: #fff;
  border-radius: 1px;
}
.icon-menu span:first-child {
  top: 15px;
}
.icon-menu span:last-child {
  top: auto;
  bottom: 15px;
}
.icon-menu._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.icon-menu._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 2px);
}
.icon-menu._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 2px);
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  top: -200px;
  left: 200px;
  position: absolute;
  background: #F7654A;
  width: 100%;
  width: 250px;
  min-height: 250px;
  z-index: 5;
}
.menu__body._active {
  top: 60px;
  left: -200px;
  opacity: 1;
  visibility: visible;
}

.menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.menu__link {
  display: block;
  padding: 20px 0px;
}

.page-section {
  width: 100%;
  min-height: 740px;
  background: url("../../img/jpg/bgBridge.jpg") center/cover no-repeat;
  overflow: visible;
}

.page-section__column {
  position: relative;
  top: 150px;
  min-height: 740px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-section__caption {
  width: 100%;
  max-width: 734px;
  min-height: 228px;
}

.page-section__title {
  font-size: 64px;
  line-height: 1.48;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page-section__text {
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 170px;
}

.page-section__info {
  width: 100%;
  max-width: 1110px;
}

.page-section__advertisement {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1110px;
  min-height: 300px;
  background: #F7F7F7;
  padding: 20px;
}

.page-section__desc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 190px;
  min-height: 186px;
  padding-right: 30px;
}
.page-section__desc:last-child {
  padding-right: 0px;
}

.page-section__span-number {
  color: #F7654A;
  font-size: 72px;
  line-height: 1.48;
  text-align: center;
  text-transform: uppercase;
}

.page-section__span-age {
  font-size: 36px;
  line-height: 1.46;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-section__span-locftion {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #999999;
}

.project-section__body {
  margin: 250px 0px 150px 0px;
}

.subject {
  font-size: 36px;
  line-height: 1.47;
  text-transform: uppercase;
  color: #000000;
}

.project-section__subject {
  color: #404149;
  margin-bottom: 60px;
  text-align: center;
}

.project-section__items {
  min-width: 300px;
  width: 100%;
  width: 350px;
  min-height: 578px;
  margin-right: 30px;
  margin-bottom: 45px;
}
.project-section__items:last-child {
  margin-right: 0px;
}

.project-section__image {
  position: relative;
  min-width: 300px;
  width: 100%;
  max-width: 350px;
  height: 380px;
  margin-bottom: 45px;
}

.project-section__subtitle {
  position: relative;
  font-size: 24px;
  line-height: 1.5;
  color: #404149;
  margin-bottom: 20px;
  padding-top: 15px;
}
.project-section__subtitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 6px;
  background: #F7654A;
}

.project-section__desc {
  font-family: "Open+Sans";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  color: #999999;
  text-align: left;
}

.reclame-section {
  background: #F7654A;
}

.reclame-section__row {
  height: 100%;
  min-height: 181px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reclame-section__info {
  font-weight: bold;
  color: #FFFFFF;
}

.reclame-section__title {
  font-size: 48px;
  line-height: 1.47;
  letter-spacing: 0.02em;
  margin-bottom: 7px;
}

.reclame-section__text {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.reclame-section__contact {
  background: #FFFFFF;
}

.reclame-section__button {
  padding: 14px 29px;
}

.reclame-section__span-icon {
  padding-right: 10px;
}

.link__button {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #000000;
}