.section {}

.page-section {
	width: 100%;
	max-height: 740px;
	background: url("../../img/jpg/bgBridge.jpg") center / cover no-repeat;
	overflow: visible;

	@media (max-width: 840px) {
		height: 540px;
	}
	@media (max-width: 460px) {
		height: 500px;
	}
}

.page-section__container {
	@extend %wrapp;
}

.page-section__column {
	position: relative;
	top: 150px;
	min-height: 740px;
	@extend %flex;
	flex-direction: column;
	justify-content: flex-end;

	@media (max-width: 840px) {
		top: 100px;
		min-height: 540px;
	}
}

.page-section__caption {
	width: 100%;
	max-width: 734px;
	min-height: 228px;

	@media (max-width: 840px) {
		min-height: 218px;
	}
}

.page-section__title {
	@include adaptiv-font(64, 26);
	line-height: 1.48;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-bottom: 15px;
	// font-size: calc(22px + 30 * (100vw / 1920));
}

.page-section__text {
	font-weight: normal;
	text-align: center;
	color: #FFFFFF;
	@include adaptiv-font(18, 16);
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 170px;

	@media (max-width: 840px) {
		margin-bottom: 30px;
	}
}

.page-section__info {
	width: 100%;
	max-width: 1110px;

	@media (max-width: 840px) {
		max-width: 500px;
	}

	@media (max-width: 460px) {
		max-width: 250px;
	}
}

.page-section__advertisement {
	@extend %flex;
	justify-content: center;
	width: 100%;
	min-height: 300px;
	background: #F7F7F7;
	padding: 20px;
	@media (max-width: 460px) {
		justify-content: space-between;
	}
}

.page-section__desc {
	@extend %flex;
	flex-direction: column;
	// justify-content: space-between;
	width: 100%;
	max-width: 190px;
	min-height: 186px;
	padding-right: 30px;

	&:last-child {
		padding-right: 0px;
	}

	@media (max-width: 840px) {
		padding-right: 0px;
	}

	@media (max-width: 460px) {
		max-width: 100px;
		min-height: 100px;
	}
}

.span {}

.page-section__span {}

.page-section__span-number {
	color: $colorOrange;
	font-size: 72px;
	line-height: 1.48;
	text-align: center;
	text-transform: uppercase;
	@media (max-width: 460px) {
		font-size: 36px;
	}
}

.page-section__span-age {
	font-size: 36px;
	line-height: 1.46;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	@media (max-width: 460px) {
		font-size: 22px;
	}
}

.page-section__span-locftion {
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
	color: #999999;
	@media (max-width: 460px) {
		font-size: 14px;
	}
}