.header {
	transition-duration: 0.8s;
	background: rgba(51, 51, 51, 0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	padding-top: 30px;
}

.header_active {
	background: rgba(51, 51, 51, 0.3);
}

.header__container {
	@extend %wrapp;
	@extend %flex;
	justify-content: space-between;
}


.header__icon {
	width: 60px;
	height: 60px;
}

.burger-menu {
	position: relative;
} 

.icon-menu {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	background: $colorOrange;
	cursor: pointer;
	z-index: 5;

	span {
		transition: all 0.4s ease 0s;
		top: calc(50% - 2px);
		position: absolute;
		left: calc(50% - 10.5px);
		width: 21px;
		height: 4px;
		background-color: #fff;
		border-radius: 1px;

		&:first-child {
			top: 15px;
		}

		&:last-child {
			top: auto;
			bottom: 15px;
		}
	}

	&._active {
		span {
			transform: scale(0);

			&:first-child {
				transform: rotate(-45deg);
				top: calc(50% - 2px);
			}

			&:last-child {
				transform: rotate(45deg);
				bottom: calc(50% - 2px);
			}
		}
	}

}

.menu__body {
	z-index: 3;
	position: absolute;
	top: -200px;
	left: 200px;
	width: 250px;
	min-height: 250px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $colorOrange;

	&._active {
		top: 55px;
		left: -200px;
		opacity: 1;
		visibility: visible;
	}
}

.menu__list {
	@extend %flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.menu__link {
	display: block;
	padding: 20px 0px;
}

.link {}

.js-scroll {}

.menu__adress {}
