.section {}

.reclame-section {
	background: $colorOrange;
}

.reclame-section__container {
	@extend %wrapp;
}

.reclame-section__row {
	padding: 10px 0px;
	height: 100%;
	min-height: 181px;
	@extend %flex;
	align-items: center;
	justify-content: space-between;
}

.reclame-section__info {
	font-weight: bold;
	color: #FFFFFF;
	@media (min-width: 500px) {
		margin-right: 30px;
		min-width: 395px;
	}
}

.reclame-section__title {
	line-height: 1.47;
	letter-spacing: 0.02em;
	margin-bottom: 7px;
	@include adaptiv-font(48, 20);
}

.reclame-section__text {
	line-height: 1.5;
	letter-spacing: 0.02em;
	@include adaptiv-font(24, 16);
}


.reclame-section__contact {
	background: #FFFFFF;
	@media (max-width: $md2 + px) {
		&:focus,
		&:active {
			background: #ffffffc7;
		}
	}
	@media (min-width: $md2 + px) {
		&:hover {
			background: #ffffffc7;
		}
	}
}

.reclame-section__button {
	padding: 14px 29px;
}

.span {}

.reclame-section__span-icon {
	padding-right: 10px;
}

.reclame-section__link {}

.link {}

.link__button {
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	color: #000000;
}